## Veridic Functions

In [38]:
def add(a: float | int, b: float | int) -> float | int:
    """
    This function add 2 numbers
    """
    c = a + b
    return c

In [39]:
a2 = add(23, 32)
print(a2)

55

In [40]:
# Positional Argument
a1 = add(3, 4)
print(a1)

7

In [7]:
# keyword Argument
a2 = add(a=23, b=34.5)
print(a2)

57.5

### Variadic Functions - Functions with flexible input numbers
*args - Positional Arguments - acts like a tuple in Python

In [8]:
def function1(*args):
    print(args)
    print(f"Type of args : {type(args)}")
    for i in args:
        print(i)

In [41]:
function1(1, 2)

(1, 2)
Type of args : <class 'tuple'>
1
2

In [10]:
function1("Manthan", True, 32.5, 45, "macc")

('Manthan', True, 32.5, 45, 'macc')
Type of args : <class 'tuple'>
Manthan
True
32.5
45
macc

In [11]:
function1("a")

('a',)
Type of args : <class 'tuple'>
a

In [12]:
b = ["example", 1, 2, False]
type(b)

list

In [13]:
# unpack and pass list
function1(*b)

('example', 1, 2, False)
Type of args : <class 'tuple'>
example
1
2
False

In [14]:
def add_multiple(*args):
    # Initialise sum to 0
    s = 0
    # Apply for loop on args
    for i in args:
        s = s + i
    # Return the value of s
    return s

In [15]:
1 + 2 + 5 + 8 + 4 + 6

26

In [16]:
s1 = add_multiple(1, 2, 5, 8, 4, 6)
s1

26

In [42]:
s2 = add_multiple(4, 11.5)
print(s2)

15.5

In [18]:
nums = [23, 42, 11, 12, 19, 20]
s4 = add_multiple(*nums)
print(s4)

127

In [19]:
s3 = add_multiple(34, 11, 12, 145, 122, 125, 11, 13)
print(s3)

473

In [44]:
a = list(range(1, 101))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [21]:
s4 = add_multiple(*a)
print(s4)

499500

# Keyword Agruments
**kwargs - This acts like a Dictionary in Python

In [22]:
def function2(**kwargs):
    print(kwargs)
    print(f"Types of kwargs : {type(kwargs)}")
    for key, value in kwargs.items():
        print(f"key : {key}, Value : {value}")

In [23]:
function2(name="Manthan", age=26)

{'name': 'Manthan', 'age': 26}
Types of kwargs : <class 'dict'>
key : name, Value : Manthan
key : age, Value : 26

In [24]:
function2(name="Aditi", age=22, city="Pune", married=False)

{'name': 'Aditi', 'age': 22, 'city': 'Pune', 'married': False}
Types of kwargs : <class 'dict'>
key : name, Value : Aditi
key : age, Value : 22
key : city, Value : Pune
key : married, Value : False

In [25]:
def function3(*args, **kwargs):
    # Args
    print(args)
    print(f"Type of args : {type(args)}")
    for i in args:
        print(i)

    # kwargs
    print(kwargs)
    print(f"Type of kwargs : {type(kwargs)}")
    for key, value in kwargs.items():
        print(f"key : {key}, value: {value}")

In [26]:
function3(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)
Type of args : <class 'tuple'>
1
2
3
4
5
6
{}
Type of kwargs : <class 'dict'>

In [27]:
function3(a=3, b=13, c=14)

()
Type of args : <class 'tuple'>
{'a': 3, 'b': 13, 'c': 14}
Type of kwargs : <class 'dict'>
key : a, value: 3
key : b, value: 13
key : c, value: 14

In [28]:
function3("a", "b", "c", name="manthan", age=26, cont=9762153743)

('a', 'b', 'c')
Type of args : <class 'tuple'>
a
b
c
{'name': 'manthan', 'age': 26, 'cont': 9762153743}
Type of kwargs : <class 'dict'>
key : name, value: manthan
key : age, value: 26
key : cont, value: 9762153743

##  want flexibly store info of a user

In [29]:
def create_user(**kwargs):
    user = {
        "name": None,
        "age": None,
        "city": None,
    }
    user.update(kwargs)
    return user

In [30]:
create_user()

{'name': None, 'age': None, 'city': None}

In [31]:
u1 = create_user(name="Sarthak", age=26)
print(u1)

{'name': 'Sarthak', 'age': 26, 'city': None}

In [32]:
u2 = create_user(name="Aditi", age=22, city="Pune")
u2

{'name': 'Aditi', 'age': 22, 'city': 'Pune'}

In [33]:
u2 = create_user(
    name="Manthan",
    city="mumbai",
    email="manthan.m4226@gmail.com",
    contact=9762153743,
)
print(u2)

{'name': 'Manthan', 'age': None, 'city': 'mumbai', 'email': 'manthan.m4226@gmail.com', 'contact': 9762153743}

In [37]:
u3 = create_user(
    name="Rahul", age=25, city="Pune", email="rahul@test.com", contcat=9878464
)
print(u3)

{'name': 'Rahul', 'age': 25, 'city': 'Pune', 'email': 'rahul@test.com', 'contcat': 9878464}

In [36]:
u4 = create_user(name="Aditi", city="Nashik", email="aditi@test.com")
print(u4)

{'name': 'Aditi', 'age': None, 'city': 'Nashik', 'email': 'aditi@test.com'}